*{
    font-family: Arial, Helvetica, sans-serif;
}

nav{
    background-color: #fff;
    padding: 5px;
}

.container{
    width: 70%;
    margin: 0 auto;
}

.d-flex{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

ul{
    list-style-type: none;
    padding: 0;
    margin: 0;
}

a{
    text-decoration: none;
}

a:hover{
    text-decoration: none;
    color: #0d7c7e;
}

ul.menu > li > a{
    display: block;
    padding: 15px 20px;
    align-items: center;
    font-size: 15px;
    color: #0d7c7e;
    text-transform: uppercase;
    border: none;
    font-weight: 700;
}

ul.menu > li:first-child > a{
    padding: 15px 5px;
}

.btn{
    color: #0d7c7e;
    display: block;
    padding: 15px 10px;
    font-weight: 700;
    text-transform: uppercase;
    font-size: 15px;
}

.logo img{
    max-height: 60px;
}

section {
    padding-top: 50px;
}


h3.entry-title a{
    color: #0d7c7e;
    font-size: 16px;
    font-weight: 700;
    letter-spacing: 1px;
    outline: none;
}

.meta-date{
    font-size: 9px;
    text-transform: uppercase;
    color: #85c7c6;
}

.wrapper{
    border: 1px solid #ddd;
    padding: 20px 20px 40px;
    position: relative;
    height: 100%;
}

body{
    background-color: #fff;
}

.dropdown {
    position: relative;
    display: inline-block;
  }
  
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 250px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    padding: 12px 16px;
    z-index: 1;
}

.dropdown:hover .dropdown-content {
    display: block;
}

li a{
    color: black;
    font-size: 14px;
    text-transform: uppercase;
    font-weight: 700;
}

li a:hover{
    padding-left: 20px;
    transition: ease 200ms;
    font-size: 14px;
    text-transform: uppercase;
    font-weight: 700;
    position: relative;
}

.btn.focus, .btn:focus {
    outline: 0;
    box-shadow: none;
}

audio {
    width: 250px;
    height: 45px;
    background-color: #fff;
    animation: ease-in-out;
}

section {
    padding-bottom: 40px;
}

footer{
    border-top: 1px solid  #ddd;
    padding: 46px 0;

}

h5{
    font-weight: 700;
    text-transform: uppercase;
    font-size: 1.2em;
    text-align: center;
}

span.gray{
    color: #989898;
    display: block;
    font-size: 16px;
    line-height: 22px;
    text-align: center;
    font-weight: 700;
    text-transform: uppercase;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

#f_sign_up form .f_sign_up_g {
    position: relative;
    border-radius: 40px;
    background-color: #fff;
    box-shadow: 1px 1px 1px 3px #eee;
}

#f_sign_up form .f_sign_up_g input[type="text"] {
    width: 100%;
    padding: 7px 110px 7px 36px;
    font-size: 13px;
    line-height: 13px;
    border: none;
    border-radius: 40px;
    outline: none;
}

#f_sign_up form .f_sign_up_g .sign_up_btn {
    position: absolute;
    background: transparent;
    right: 0;
    top: 0;
    padding: 6px 30px;
    text-transform: uppercase;
    color: #0d7c7e;
    font-size: 13px;
    font-weight: 700;
    border: none;
    border-top-right-radius: 40px;
    border-bottom-right-radius: 40px;
    outline: none;
    cursor: pointer;
}

.mobile{
    display: none;
}

i.none{
    display: none;
}

.card:hover{
    box-shadow: #ddd 10px 5px;
    transition: ease-in 200ms;
    font-size: 18px;
    font-weight: 700;
}

section.d-pg{
    padding-top: 0px;
}

section .content{
    padding: 0px 150px;
}

h1.title-1, h1.title-2{
    text-align: center;
    font-size: 50px;
    text-transform: uppercase;
    color: #0d7c7e;
    font-weight: 700;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.socical{
    padding-left: 566px;
    padding-right: 566px;
    padding-top: 0px;
    padding-bottom: 40px;
}

.card-icon{
    align-items: center;
    padding: 0px 70px;
    padding-bottom: 15px;
    border-bottom: 1px solid #ddd;
}

.fab{
    padding: 0px 10px;
}

.news{
    text-align: center;
    font-size: 50px;
    text-transform: uppercase;
    color: #0d7c7e;
    font-weight: 700;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

video{
    width: 1200px;
    height: 520px;
}

iframe{
    padding: 10px 0px;
}

.card-social{
    text-align: center;
    font-size: 20px;
    text-transform: uppercase;
    color: #0d7c7e;
    font-weight: 700;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.card-body1{
    border-top: 1px solid #ddd;
}

.card-icon a{
    color: #000;
}

video .mobile{
   display: none;
}


@media only screen and (max-width: 915px) {
    .container {
        width: 100%;
        padding-right: 15px;
        padding-left: 15px;
        margin-right: auto;
        margin-left: auto;
    }

    audio {
        width: 380px;
        height: 45px;
        background-color: #fff;
        animation: ease-in-out;
    }

    .d-flex-1{
        display: flex;
        align-items: center;
        justify-content: space-between;
        align-content: flex-start;
        flex-direction: column;
    }

    .pc{
        display: none;
    }

    .mobile{
        display: block;
    }

    nav ul{
        left: 0px;
        top: 0px;
        position: fixed;
        background: #fff;
        width: 250px;
        height: 750px;
        z-index: 9999;
        display: block;
        transition: all 200ms ease-in;
        transform: translateX(-300px);
    }

    i.show{
        font-size: 30px;
        padding-top: 20px;
        padding-right: 188px;
    }

    i.none{
        display: block;
        font-size: 30px;
        padding-top: 5px;
        padding-bottom: 10px;
        padding-left: 20px;

    }

    nav ul.show{
        transform: translateX(0px);
    }


    nav ul{
        transform: translateX(-300px);
    }

    h5{
        font-size: 15px;
        font-weight: 700;
        text-transform: uppercase;
        text-align: center;
    }

    span.gray {
        color: #989898;
        display: block;
        font-size: 12px;
        line-height: 22px;
        text-align: center;
        font-weight: 700;
        text-transform: uppercase;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        padding-bottom: 10px;
    }

    #f_sign_up form .f_sign_up_g input[type="text"] {
        width: 100%;
        padding: 7px 110px 7px 36px;
        font-size: 13px;
        line-height: 13px;
        border: none;
        border-radius: 40px;
        outline: none;
    }

    iframe{
        padding: 10px 3px;
    }

    img.lg2{
       display: none;
    }

    .card:hover{
        box-shadow: #ddd 10px 7px;
        transition: ease-in 200ms;
        font-size: 18px;
    }
    
    .card .card-img-top:hover{
        transition: ease-in 200ms;
        width: 100%;
    }
    
    section .content {
        padding: 0px 20px;
    }

    .title-1, .title-2, .news {
        font-size: 30px;
    }

    .socical {
        padding: 0px 20px;
        padding-bottom: 15px;
    }

    .card-icon {
        align-items: center;
        padding: 0px 80px;
        padding-bottom: 10px;
        border-bottom: 1px solid #ddd;
    }

    video .mobile{
        display: block;
    }  
    
    video .pc{
        display: none;
    }

  }